# build artifacts
build/
Debug/
Release/
msh_log.txt

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Visual Studio / MSVC
*.obj
*.pdb
*.ilk
*.tlog
*.exe
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
